<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK9crS11yzewg9sdyDJSiU-O85j_3rZR0</string>
	<key>GCM_SENDER_ID</key>
	<string>52959939625</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nrd.SwiftlyChat</string>
	<key>PROJECT_ID</key>
	<string>swiftlychat-c5643</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftlychat-c5643.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:52959939625:ios:3f6b82215dfd5db114e038</string>
</dict>
</plist>